
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&family=Source+Sans+3:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  overflow-x: hidden;
}

.home {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('/assets/bg.png') center center / cover no-repeat;


  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  padding: 40px 20px;
}

.home h1 {
  font-family: 'Playwrite VN', cursive;
  font-size: clamp(3rem, 8vw, 6rem);
  font-weight: 400;
  color: #f7ec77;
  text-shadow: 3px 3px 0 #493939;
}

.home p {
  font-family: 'Source Sans 3', sans-serif;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 700;
  line-height: 1.2;
  color: #fffdf5;
  text-shadow: 2px 2px 0 #493939;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  min-width: 130px;
  padding: 10px 24px;

  border: 2px solid #493939;
  border-radius: 12px;

  color: #493939;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;

  box-shadow: 4px 4px 0 #493939;

  transition: 0.2s ease;
}

.login {
  background: #f7ec77;
}

.register {
  background: #da5151;
}

.btn:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 #493939;
}

@media (max-width: 600px) {
  .home-content {
    gap: 25px;
  }

  .home h1 {
    font-size: clamp(2.5rem, 12vw, 4rem);
  }

  .home p {
    font-size: clamp(1.3rem, 6vw, 2rem);
  }

  .buttons {
    gap: 12px;
  }

  .btn {
    min-width: 110px;
    padding: 9px 18px;
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .buttons {
    flex-direction: column;
    width: 180px;
  }

  .btn {
    width: 100%;
  }
}

